/*
	File specifically for configuring UI for Desktop Screen Widths:
	Anything beyond 768px in Width
*/

@media screen and (min-width: 760px) {
	nav ul {
		display: table;
		margin: 10px auto 30px;
	}

	nav ul li {
		text-align: center;
	}

	section button {
		// display: block;
		// margin: 40px auto 20px !important;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
	}

	section#main div#quotesWrapper {
		width: 50%;
	}

	section#main ul#controls {
		margin: 120px auto;
		// position: relative;
		bottom: 120px;
		right: auto;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
	}

	section#main ul#controls li {
		display: inline-block;
		margin: 0 20px;
	}

	section#devInfo h1 {
		margin-top: 100px;
		text-align: center;
	}

	section#devInfo h3 {
		margin: 30px 20px 20px;
		text-align: center;
	}

	section#devInfo button#changelog {
		transform: translateX(-60%);
	}

	section#devInfo div#infoWrapper {
		display: table;
		margin: 0 auto;
	}

	section#devInfo ul#techUsed {
		margin-left: auto;
		margin-right: auto;
	}

	section#devInfo ul#inspirations {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	section#devInfo div.versionRecord div.version h1 {
		text-align: left;
	}
}